@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    
}
body{
    font-size: 0.9rem;
    max-width: 450px;
    margin: auto;
    
}
 main{
    font-family: "Source Sans 3", sans-serif;
    /* border: 3px solid firebrick; */
     width: 100%;
     display: flex;
     flex-direction: column;
     color: #000000;
     margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.logo{
    width: 100px;
    margin-left: 20px;
}
.profile-picture{ 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}
section .profile-picture{
    margin-left: 15px;
   
}
.section-one {
    max-width: 450px;
    margin: 0 auto; /* centers the whole post */
    padding: 1rem;
    box-sizing: border-box;
  }
section {
    border-bottom:1px solid #ccc;
    margin: auto;
    /* border: 2px solid; */
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
}

.heading{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.main-heading p{
    font-weight: 400;
}
.main-heading h2{
    font-weight: 900;
    font-size: .95rem;
    margin-bottom: 0;
}
.reactions-top{
    display: flex;
    justify-content: space-around;
    width: 30%;
    align-items: center;
    padding: 10px 0; 
}
.reactions-top i{
   font-size: 1.7rem;
}
.reactions-top i:hover{
    cursor: pointer;
}
.reaction-bottom{
    margin-left: 10px;
    margin-bottom: 20px;
    /* border: 2px solid yellow; */
}
.caption{
    padding: 10px 0;
    display: inline;
    /* gap: .2em; */
    /* border: 2px solid yellow; */
}
.caption p {
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
    margin: 0;
    padding: 0;
    line-height: 1.4;
  }
  
  .caption span {
    font-weight: bold;
  }
  
  
.post-picture{
   margin: 0 auto;
    width: 375px;
    height: 375px;
    object-fit: contain;
}